<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEB.BioFitAdvisor.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.css"   />
    <link rel="stylesheet" href="~/webSite/css/maicons.css">
    <link rel="stylesheet" href="~/lib/ag-grid/styles/ag-grid.css">
    <link rel="stylesheet" href="~/lib/ag-grid/styles/ag-theme-alpine.css">
    @* <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" /> *@
</head>
<body style="background-color: #f5f5f5; overflow: hidden">
    <div class="d-flex flex-column flex-shrink-0 text-bg-dark sidebar">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 text-white text-decoration-none p-2" style="display: flex !important;justify-content: center;background: #610588;z-index: 10;">
            <span class="fs-4">BioFit Advisor</span>
        </a>
        <ul class="nav nav-pills flex-column mb-auto p-2">
            <li class="nav-item">
                <a href="/Home/Index" class="nav-link text-white" data-url="/Home/Index">
                    <span class="mai-speedometer" style="font-size: 16px; margin-right: 5px;"></span> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a href="/User/Index" class="nav-link text-white" data-url="/User/Index">
                    <span class="mai-people" style="font-size: 16px; margin-right: 5px;"></span> Usuarios
                </a>
            </li>
            <li class="nav-item">
                <a href="/Exercise/Index" class="nav-link text-white" data-url="/Exercise/Index">
                    <span class="mai-library" style="font-size: 16px; margin-right: 5px;"></span> Libreria Ejercicios
                </a>
            </li>
            <li class="nav-item">
                <a href="/Plan/Index" class="nav-link text-white" data-url="/Plan/Index">
                    <span class="mai-fitness" style="font-size: 16px; margin-right: 5px;"></span> Rutinas
                </a>
            </li>
            <li class="nav-item">
                <a href="/IAMonitor/Index" class="nav-link text-white" data-url="/IAMonitor/Index">
                    <span class="mai-analytics" style="font-size: 16px; margin-right: 5px;"></span> IA Monitor
                </a>
            </li>
            <li class="nav-item">
                <a href="/LogReports/Index" class="nav-link text-white" data-url="/LogReports/Index">
                    <span class="mai-document-text" style="font-size: 16px; margin-right: 5px;"></span> Reportes de Log
                </a>
            </li>
            <li class="nav-item">
                <a href="/Updates/Index" class="nav-link text-white" data-url="/Updates/Index">
                    <span class="mai-information-circle" style="font-size: 16px; margin-right: 5px;"></span> Updates
                </a>
            </li>
            <li class="nav-item">
                <a href="/Message/Index" class="nav-link text-white" data-url="/Message/Index">
                    <span class="mai-mail" style="font-size: 16px; margin-right: 5px;"></span> Mensajes
                </a>
            </li>
            <li class="nav-item">
                <a href="/Subscriptions/Index" class="nav-link text-white" data-url="/Subscriptions/Index">
                    <span class="mai-wallet" style="font-size: 16px; margin-right: 5px;"></span> Suscripciones
                </a>
            </li>
        </ul>
        <div class="dropdown" style="display: flex; justify-content: center">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle p-2" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1rTLeQraa9s-Rkj2_KMPOzh30CwK1G2D85A&s" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>Joaquin Diaz</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li><a class="dropdown-item" href="#">Configuración</a></li>
                <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
            </ul>
        </div>
    </div>

    <div style="height: 100vh;overflow: hidden;overflow-y: scroll; background: #222628">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/echarts/echarts.min.js"></script>
    <script src="~/lib/fullcalendar/index.global.js"></script>
    <script src="~/lib/fullcalendar/locale/es.global.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/ag-grid/dist/ag-grid-community.noStyle.js"></script>

    @* <script src="~/lib/datatables/datatables.min.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Obtener la URL actual de la página (sin parámetros ni hashes)
            var currentUrl = window.location.pathname;

            // Iterar sobre los enlaces del menú y verificar cuál coincide con la URL actual
            document.querySelectorAll('.nav-link').forEach(function (link) {
                var linkUrl = link.getAttribute('href');

                // Comprobaciones para cada sección del sidebar
                if (currentUrl.includes('/Home') && linkUrl.includes('/Home')) {
                    link.classList.add('active');
                } else if (currentUrl.includes('/User') && linkUrl.includes('/User')) {
                    link.classList.add('active');
                } else if (currentUrl.includes('/Exercise') && linkUrl.includes('/Exercise')) {
                    link.classList.add('active');
                } else if (currentUrl.includes('/Routine') && linkUrl.includes('/Routine')) {
                    link.classList.add('active');
                } else if (currentUrl.includes('/IAMonitor') && linkUrl.includes('/IAMonitor')) {
                    link.classList.add('active');
                } else if (currentUrl.includes('/LogReports') && linkUrl.includes('/LogReports')) {
                    link.classList.add('active');
                } else if (currentUrl.includes('/Subscriptions') && linkUrl.includes('/Subscriptions')) {
                    link.classList.add('active');
                }
            });
        });
    </script>
</body>
</html>
