@font-face {
    font-family: 'Roboto Bold', sans-serif;
    src: url('/Font/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: 'Roboto';
    list-style: none;
    text-decoration: none;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/*body span {
    color: white;
}*/

body {
    background-color: #222628 !important;
    overflow: hidden;
    color: white;
}

.hide{
    display: none;
}

/* ======= Toast message ======== */
#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}

.toast p{
    margin: 0;
    margin-bottom: 10px;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 10px 0;
    min-width: 400px;
    max-width: 450px;
    border: 0 !important;
    border-left: 4px solid !important;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: #47d864 !important;
}

    .toast--success .toast__icon {
        color: #47d864 !important;
    }

    .toast--success .toast__title {
        color: #47d864 !important;
    }

.toast--info {
    border-color: #2f86eb !important;
}

    .toast--info .toast__icon {
        color: #2f86eb !important;
    }

    .toast--info .toast__title {
        color: #2f86eb !important;
    }

.toast--warning {
    border-color: #ffc021 !important;
}

    .toast--warning .toast__icon {
        color: #ffc021 !important;
    }

    .toast--warning .toast__title {
        color: #ffc021 !important;
    }

.toast--error {
    border-color: #ff623d !important;
}

    .toast--error .toast__icon {
        color: #ff623d !important;
    }

    .toast--error .toast__title {
        color: #ff623d !important;
    }

.toast + .toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
}

    .toast__icon i {
        display: flex;
    }

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 17px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 15px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/*table {
    background: #292a3e;
    border: none;
}

table tr td{
    color: white;
    border:0;
}

table tr, th{
    color: white;
    border: 0;
}

table tr td a.btn {
    background: #1e202f;
    color: white;
    border: 0;
}
*/
select {
    background: #1e202f !important;
    border: 0 !important;
}

.container-section {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.header-view {
    padding: 11.7px;
    padding-left: 30px;
    background: #181d1f;
    margin: 0;
    display: flex;
}

.header-view .header-buttons{
    margin-left: auto;
}


.header-view h4 {
    margin: 0;
}

.header-view .header-buttons {
    float: right;
}

.header-view .btn {
    background-color: #222628;
    border: 0;
}

.card {
    background: #181d1f;
}

/* Aplica color negro a los textos de las celdas */
.ag-theme-alpine .ag-cell,
.ag-theme-alpine .ag-header-cell {
    color: black !important;
}

/* Aplica color negro a los textos de los botones si es necesario */
.ag-theme-alpine .btn {
    color: black !important;
}