<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>About</title>
  <link rel="icon" type="image/png" href="~/img/LOGO_MT_0.png">

  <link rel="shortcut icon" href="~/webSite/favicon.png" type="image/x-icon">

  <link rel="stylesheet" href="~/webSite/css/maicons.css">

  <link rel="stylesheet" href="~/webSite/vendor/animate/animate.css">

  <link rel="stylesheet" href="~/webSite/vendor/owl-carousel/css/owl.carousel.min.css">

  <link rel="stylesheet" href="~/webSite/css/bootstrap.css">

  <link rel="stylesheet" href="~/webSite/css/website.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-floating">
  <div class="container">
    <a class="navbar-brand" href="/WebSite/index">
      <img src="~/webSite/favicon-light.png" alt="" width="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/WebSite/index">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/WebSite/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/WebSite/updates">Updates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/WebSite/contact">Contact</a>
        </li>
      </ul>
      <div class="ml-auto my-2 my-lg-0">
        <button class="btn btn-primary rounded-pill">Download Now</button>
      </div>
    </div>
  </div>
</nav>

<main class="bg-light">

<div class="page-hero-section bg-image hero-mini">
  <div class="hero-caption">
    <div class="container fg-white h-100">
      <div class="row justify-content-center align-items-center text-center h-100">
        <div class="col-lg-6">
          <h3 class="mb-4 fw-medium">About Us</h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark justify-content-center bg-transparent">
              <li class="breadcrumb-item"><a href="/WebSite/index">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-section pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card-page">
          <h5 class="fg-primary">Conoce nuetro team</h5>
          <hr>

          <div class="row justify-content-center">
            <div class="col-lg-3 py-3">
              <div class="team-item">
                <div class="team-avatar">
                  <img src="https://avatars.githubusercontent.com/u/123741636?v=4" alt="">
                </div>
                <h5 class="team-name">Alex <br /> Parra</h5>
                <span class="fg-gray fs-small">Frontend Developer</span>
              </div>
            </div>
            <div class="col-lg-3 py-3">
              <div class="team-item">
                <div class="team-avatar">
                  <img src="https://avatars.githubusercontent.com/u/67880687?v=4" alt="">
                </div>
                <h5 class="team-name">Carlos <br /> Troncoso</h5>
                <span class="fg-gray fs-small">Backend Developer</span>
              </div>
            </div>
            <div class="col-lg-3 py-3">
              <div class="team-item">
                <div class="team-avatar">
                  <img src="https://avatars.githubusercontent.com/u/101908909?v=4" alt="">
                </div>
                <h5 class="team-name">Joaquin <br /> Diaz</h5>
                <span class="fg-gray fs-small">Backend Developer</span>
              </div>
            </div>
            <div class="col-lg-3 py-3">
                <div class="team-item">
                    <div class="team-avatar">
                        <img src="https://i.pinimg.com/564x/77/7b/4e/777b4e5a7a12f2701f96add68155626b.jpg" alt="">
                    </div>
                    <h5 class="team-name">Maximiliano <br /> Sanchez</h5>
                    <span class="fg-gray fs-small">Product Manager</span>
                </div>
            </div>
          </div>
        </div> 
        <div class="card-page mt-3">
          <h5 class="fg-primary">Historia</h5>
          <hr>
          <p>El proyecto Muta app tiene como objetivo desarrollar una aplicación de salud y bienestar que utiliza inteligencia artificial para generar rutinas de ejercicio y planes de nutrición personalizados. La idea surgió a partir de la necesidad de crear una solución accesible para personas que desean mejorar su estado físico y salud general, abordando el desafío de la falta de acceso a planes de salud económicos y personalizados. <br /><br />
La aplicación recopila datos de los usuarios, como altura, peso e índice de masa corporal, a través de un escaneo corporal o mediante la entrada manual de los datos. Con esta información, la inteligencia artificial crea un plan de acción personalizado para cada usuario, con recomendaciones de ejercicios y ajustes en la dieta para alcanzar objetivos específicos, como perder peso o ganar masa muscular. Además, la app permite hacer un seguimiento del progreso del usuario y ajustar las rutinas conforme sea necesario. <br /><br />
El proyecto no solo busca mejorar la calidad de vida de sus usuarios, sino también ser autosostenible mediante un modelo de suscripciones, lo que permitirá su continua mejora y actualización​</p>
        </div>
      </div>
    </div>
  </div>
</div>

</main> <!-- .bg-light -->


<div class="page-footer-section">
    <div class="container">
        <div class="row py-3">
            <div class="col-lg-8 py-3" style="display: flex;align-items: center;">
                <img src="~/img/LOGO_MT_4.png" width="180" />
            </div>
            <div class="col-lg-4 py-3">
                <h5 class="mb-3" style="color: white">Suscríbete</h5>
                <p>Obten noticias o funciones nuevas de la aplicación</p>
                <form method="POST">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Your email..">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary"><span class="mai-send"></span></button>
                        </div>
                    </div>
                </form>

                <!-- Social Media Button -->
                <div class="mt-4">
                    <a href="#" class="btn btn-fab btn-primary fg-white"><span class="mai-logo-facebook"></span></a>
                    <a href="#" class="btn btn-fab btn-primary fg-white"><span class="mai-logo-twitter"></span></a>
                    <a href="#" class="btn btn-fab btn-primary fg-white"><span class="mai-logo-instagram"></span></a>
                    <a href="#" class="btn btn-fab btn-primary fg-white"><span class="mai-logo-google"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/webSite/js/jquery-3.5.1.min.js"></script>

<script src="~/webSite/js/bootstrap.bundle.min.js"></script>

<script src="~/webSite/vendor/owl-carousel/js/owl.carousel.min.js"></script>

<script src="~/webSite/vendor/wow/wow.min.js"></script>

<script src="~/webSite/js/website.js"></script>

</body>
</html>